/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/


/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/

/* background 
---------------------*/

/* lean-bg 
---------------------*/

/* btn 
---------------------*/
/* normal */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

/* icon */
.icon{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;
}
.icon-linkin{
    background-image: url('../images/brand_icon/linkedin.svg');
}
.icon-ig{
    background-image: url('../images/brand_icon/instagram.svg');
}
.icon-mail{
    background-image: url('../images/regular_icon/envelope-regular.svg');
}
.icon-youtube{
    background-image: url('../images/brand_icon/youtube.svg');
}
/* icon btn */
.icon-btn{
    display: inline-block;
    vertical-align: top;
    transition: all .3s;
}
.icon-btn:hover{
    transform: translateY(-20%);
}
/* text btn */

/* card */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /*background-color: #fff;*/
  background-clip: border-box;
  /*border: 1px solid rgba(0, 0, 0, 0.125);*/
  border-radius: 0.25rem;
}

.card-img-top {
  width: 100%;
  /*border-top-left-radius: calc(0.25rem - 1px);*/
  /*border-top-right-radius: calc(0.25rem - 1px);*/
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-top: 0.5rem;
}
/* image 
---------------------*/

.img-container .image{
    width: 100%;
    margin-top: 40px;
    display: block;
}
.imgbox__inner{
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.imgbox__inner .imgbox__inner--4-3{
  padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* setting */

.divider{
    margin: 30px auto 60px auto;
    text-align: center;
}
.dot1, .dot2{
    margin-right: 30px;
}
.dot1, .dot2, .dot3{
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #242424;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.section{
    padding-top: 15vh;
    padding-bottom: 15vh;
}
.sub-section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.section .sub-section:last-child{
    padding-bottom: 0;
}
/*-------------------------*/
/* $Header
---------------------------*/
/*.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #cbcbcb;
}*/
@media (max-width: 768px){
    .navbar--collapse{
        margin-right: -15px;
        margin-left: -15px;
    }
}

/* navbar 
---------------------*/
.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar > .container,
.navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  /*margin-right: 1rem;*/
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  transition: all 0.3s;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
.navbar__name{
    display: block;
    padding: 12px;
    float: left;
    color: #6487f5;
    font-weight: 800;
    line-height: 32px;
    font-size: 24px;
}
.navbar__nav{
    float: right;
}
.nav__menu{
    float: left;
}
.nav__menu li{
    float: left;
}
.nav__menu .menu__item{
    display: block;
    padding: 12px;
    color: #484848;
    font-weight: 800;
    line-height: 32px;
    font-size: 18px;
    transition: all .3s;
}
.nav .menu__item.active{
    background: -webkit-radial-gradient(circle,white,#6487f5);
    background: -o-radial-gradient(circle,white,#6487f5);
    background: -moz-radial-gradient(circle,white,#6487f5);
    background: radial-gradient(circle,white,#6487f5);
    /*color: ;*/
}

/*.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}*/

.nav__menu .menu__item:hover{
    color: #ff638f;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    display: inline-block;
    padding: 12px;
    padding-top: 16px;
}
.close span{
    height: 3px;
    width: 32px;
    background-color: #484848;
    position: absolute;
    top: 50%;
}
.close span:nth-child(1){
    transform: translateY(-50%) rotate(45deg);
}
.close span:nth-child(2){
    transform: translateY(-50%) rotate(-45deg);
}
.detail__header{
    background-color: rgba(256,256,256,0.5);
}

/* menu-toggle 
---------------------*/
.menu-toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 100%;
    display: inline-block;
    padding: 12px;
    padding-top: 16px;
}
@media(min-width: 769px){
    .menu-toggle{
        display: none;
    }
}
.menu-toggle span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #484848;
    margin-bottom: 8px;
}
/* popup-nav
---------------------*/

@media (max-width: 768px){
    .popup-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #cbcbcb;
        visibility: hidden;
        transition: all 0.3s;
    }
    #overlay:target{
        opacity: 1;
        visibility: visible;
    }
    .popup-nav .nav__menu{
        float: none;
        padding-top: 56px;
    }
    .popup-nav .nav__menu li{
        float: none;
        text-align: center;
        padding-top: 16px;
    }
    .popup-nav .menu__item{
        text-align: center;
        padding: 16px;
    }
        /* popup-close */
    .popup-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 56px;
        display: inline-block;
        padding: 12px;
        padding-top: 16px;
    }
    .popup-close span{
        height: 3px;
        width: 32px;
        background-color: #484848;
        position: absolute;
        top: 50%;
    }
    .popup-close span:nth-child(1){
        transform: translateY(-50%) rotate(45deg);
    }
    .popup-close span:nth-child(2){
        transform: translateY(-50%) rotate(-45deg);
    }
}

/*-------------------------*/
/* $Side-nav
---------------------------*/
.side-nav{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 1200px){
    .side-nav{
        display: none;
    }
}
.side-nav__item{
    display: inline-block;
    color: #484848;
    font-size: 24px;
    width: 160px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 24px;
    line-height: 24px;
}
.side-nav__item span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}
.side-nav .active span{
    /*left: 32px;*/
    color: #fefefe;
}
.side-nav__item:before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0%;
    /*background-color: #6487f5;*/
    background: -webkit-linear-gradient(left,#3dc0cc,#6487f5);
    background: -o-linear-gradient(left,#3dc0cc,#6487f5);
    background: -moz-linear-gradient(left,#3dc0cc,#6487f5);
    background: linear-gradient(left,#3dc0cc,#6487f5);
    transition: all 0.5s;
}
.side-nav .side-nav__item.active:before{
    width: 100%;
}

/*-------------------------*/
/* $About
---------------------------*/

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*background-color: #e9ecef;*/
  border-radius: 0.3rem;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
    padding-top: 30vh;
    padding-bottom: 30vh;
  }
}
.about__content{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    padding-top: 15vh;
    /*padding-bottom: 20vh;*/
}
.about__title{
    /*font-size: 48px;*/
    /*font-weight: 600;*/
    /*font-family: 'Helvetica', 'roboto', arial, sans-serif;*/
    margin-top: 0px;
    margin-bottom: 3px;
}
.about__subtitle{
    color: #007bff;
    /*font-size: 40px;*/
    /*font-weight: 800;*/
    margin-top: 0px;
    margin-bottom: 24px;
}
.about__description{
    margin-top: 20px;
    margin-bottom: 60px;
}
.about__description a{
    color: #007bff;
    text-decoration:underline;
}
.about__text{
    font-size: 24px;
    /*letter-spacing: 32px;*/
}

/*-------------------------*/
/* $Portfolio
---------------------------*/
.portfolio{
    padding-top: 10vh;
    padding-bottom: 30vh;
    /*background-color: #cbcbcb;*/
}
.portfolio-item{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
    overflow: hidden;
}
.portfolio-link{
    text-decoration: none;   
    color: #484848; 
    overflow: hidden;
}
.portfolio-link:hover {
    text-decoration: none;
}
.portfolio-link img{
    transition: all .3s;
}
.portfolio-link img:hover{
    transform: scale(1.2);
}
.portfolio-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    color: #484848;
    background-color: rgba(227, 236, 248, 0.8);
    transition: all .3s;
}
.portfolio-hover:hover{
    opacity: 1;
}
.portfolio-hover-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.card h4{
    margin-top: 0;
    margin-bottom: 0;
}

/*-------------------------*/
/* $Project
---------------------------*/
.project__introduce{
    padding-top: 10vh;
    /*padding-bottom: 10vh;*/
}
.project__headline{
    margin-bottom: 80px;
}
.project__title{}
.project__subtitle{
    margin: 0 0 50px 0;
}
.project__text{
    /*font-size: 20px;*/
}
.process{}
.project__row{
    padding-top: 10px;
}
.project__row__item{
    margin-top: 60px;
    margin-bottom: 60px;
}
.project__img{
    margin: 10px 0;
}

/* timeline
---------------------*/
.timeline-container{
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1172px;
}
@media (min-width: 576px) {
  .process .timeline-container {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .process .timeline-container {
    max-width: none;
  }
}
@media (min-width: 992px) {
  .process .timeline-container {
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .process .timeline-container {
    max-width: none;
  }
}
.timeline-group{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 80px;*/
}
.timeline{
    width: 4px;
    height: 100%;
    background-color: #cbcbcb;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*box-shadow: 0 3px 10px rgba(0,0,0,0.5);*/
}
.timeline-cards__row:nth-child(odd){
    display: flex;
    justify-content: flex-start;
    text-align: right !important;
}
.timeline-cards__row:nth-child(even){
    display: flex;
    justify-content: flex-end;
    text-align: left !important;
}
.timeline-card{
    padding: 24px;
    /*background-color: */
    border-radius: 4px;
    width: calc(50% - 60px);
    /*box-shadow: 0 3px 10px rgba(0,0,0,0.5);*/
}
.timeline-card:before{
   /* content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    background-color: #343a40;
    position: absolute;
    top: 50%;*/
}
.timeline__icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #cbcbcb;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #fefefe;
    transition: all 0.3s;
}
.timeline__icon:hover{
    border: 3px solid #484848;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.timeline__icon .image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 70%;
    max-height: 70%;
}
.timeline-cards__row:nth-child(odd) > :before{
    transform: translate(50%,-50%);
    right: -24px;
}
.timeline-cards__row:nth-child(even) > :before{
    transform: translate(-50%,-50%);
    left: -24px;
}
.timeline-card__title{
    margin-top: 0;
    margin-bottom: 12px;
}
.timeline-card__text{
    margin: 0;
    font-size: 20px;
}
@media (max-width: 767px){
    .timeline{
        left: 0;
        left: 50px;
    }
    .timeline-card{
        width: calc(100% - 24px);
        margin-bottom: 24px;
        margin-left: 110px;
    }
    .timeline__icon{
        left: 50px;
    }
    .timeline-cards__row:last-child .timeline-card{
        margin-bottom: 0;
    }
    .timeline-cards__row:nth-child(odd){
        justify-content: flex-end;
        text-align: left !important;
    }
    .timeline-cards__row:nth-child(odd) > :before{
        transform: translate(-50%,-50%);
        left: -24px;
    }
}

/*-------------------------*/
/* $Contact
---------------------------*/
.contact{
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact h4{
    /*margin-top: 0; */
}
.contact__row{
    padding-top: 80px;
}
.contact__item{
    margin-bottom: 60px;
}

/* form
---------------------*/


/* info
---------------------*/
.info{
    margin-top: 40px;
}
/*-------------------------*/
/* $footer
---------------------------*/
.footer{
    margin-top: 70px;
    padding-top: 40px;
    /*padding-bottom: 40px;*/
}
.social{
    margin-bottom: 30px;
}
@media (max-width: 767px){
    .social{
        /*height: 60px;*/
    }
}
.footer__icon-group{
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 24px;
    padding-bottom: 24px;
    transform: translate(-50%,-50%);
}
.footer__icon-group li{
    display: block;
    float: left;
}
.footer__icon-group .icon-btn{
    margin-right: 16px;
}
.copyright{
    font-size: 0.8em;
    line-height: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
/*@media (max-width: 767px){
    .copyright{
        visibility: hidden;
    }
}*/
.footerEmail{
    font-size: 0.8em;
    line-height: 60px;
    margin: auto;
    font-weight: 800;
}


/*-------------------------*/
/* $parallax graphic
---------------------------*/
